<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DISTRIBUTION_MIN_DATE" value="2011-05-05"/>
    <add key="DISTRIBUTION_MAX_RESULTS" value="10"/>
    <add key="DISTRIBUTION_SLEEP_IN_MIN" value="1"/>
    <add key="DISTRIBUTION_INITIAL_STATE" value="Created"/>
    <add key="DISTRIBUTION_INITIAL_ACTION" value="Submit for translation"/>
    <add key="DISTRIBUTION_LAST_STATE" value="Created"/>
    <add key="DISTRIBUTION_LAST_ACTION" value="Submit for translation"/>
    <add key="WFE.ApiClientId" value="wfe-api-client"/>
    <add key="WFE.ApiClientSecret" value="F686731CFB9CC103"/>
    <add key="WFE.ApiUsername" value="wfe-api-user"/>
    <add key="WFE.ApiPassword" value="r1ng0u5er"/>
  </appSettings>
  <connectionStrings>
    <add name="Agenda" connectionString="Data Source=.\sqlexpress;Initial Catalog=Agenda;User ID=webuser;Password=User123;" providerName="System.Data.SqlClient"/>
    <add name="WfeApiUrl" connectionString="http://ringo01/wfe/api"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
