<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EzShareAccessCode" value="JPxMM%2FfZrlrlRCd9anwlHeQ65WGq1NkBOU7s24r5%2FgCLnEyCMoJPFEWwCEOPsnwyM2xYykljmhllBXq0%2FQEfK%2Bbj71RuN%2FyElcWR5w3AM4q0yv%2BL7zaZR%2FEWUQqnm9PmyAZbf8bOCMiJaI9q9TcDbg%3D%3D" />
    <add key="DISTRIBUTION_LAST_DAYS" value="3"/>
    <add key="DISTRIBUTION_MAX_RESULTS" value="10"/>
    <add key="DISTRIBUTION_SLEEP_IN_MIN" value="1"/>
    <add key="DISTRIBUTION_INITIAL_STATE" value="Created"/>
    <add key="DISTRIBUTION_INITIAL_ACTION" value="Submit for translation"/>
    <add key="DISTRIBUTION_LAST_STATE" value="Created"/>
    <add key="DISTRIBUTION_LAST_ACTION" value="Submit for translation"/>
    <add key="WFE.ApiClientId" value="5b1e89eec5400036d40f44e0"/>
    <add key="WFE.ApiClientSecret" value="password123"/>
    <add key="WFE.ApiUsername" value="ringo"/>
    <add key="WFE.ApiPassword" value="password123"/>
  </appSettings>
  <connectionStrings>
    <add name="Agenda" connectionString="Data Source=.\sqlexpress;Initial Catalog=Agenda;User ID=webuser;Password=User123;" providerName="System.Data.SqlClient"/>
    <add name="WfeApiUrl" connectionString="http://ringo01/wfe/api"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSIDBDocsSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WSIDBDocsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://idbdocs.iadb.org/WSDocs/WSIDBDocs.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSIDBDocsSoap"
        contract="IdbDocs.WSIDBDocsSoap" name="WSIDBDocsSoap" />
    </client>
  </system.serviceModel>
</configuration>
