<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogFile="C:\NLog\nlog.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logFile" value="${basedir}/logs/log-${shortdate}.log"/>
  <targets async="true">
    <target name="FileLog" xsi:type="File"
            layout="${longdate}${newline}${windows-identity}${newline}${message}${newline}${exception:format=ToString,StackTrace}"
            fileName="${basedir}/logs/log-${shortdate}.log"/>
    <target name="MailLog" xsi:type="Mail"
          layout="${machinename} | ${windows-identity}  | ${longdate} ${newline} Message: ${message} ${newline} ${exception:format=ToString,StackTrace}"
          subject="${level} in WFE API @ ${machinename}"
          html="true"
          addNewLines="true"
          replaceNewlineWithBrTagInHtml="true"
          from="mgentile@iadb.org"
          to="mgentile@iadb.org"
          smtpServer="smtp.iadb.org"
          smtpPort="25" />
    <target name="ConsoleLog" xsi:type="Console"
          layout="${machinename} | ${windows-identity}  | ${longdate} ${message} ${newline} ${exception:format=ToString,StackTrace}" />
  </targets>
  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="MailLog" />
    <logger name="*" levels="Debug,Warn,Error,Fatal" writeTo="FileLog" />
    <logger name="*" levels="Debug,Warn,Error,Fatal" writeTo="ConsoleLog" />
  </rules>
</nlog>