USE [Agenda]
GO
/****** Object:  StoredProcedure [dbo].[DocumentMeetings_Read]    Script Date: 6/12/2018 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ALTER PROCEDURE [dbo].[DocumentMeetings_Read] @TOP INT = 100 AS

DECLARE @TOP INT
SET @TOP = 1000

SELECT DISTINCT SRQ_IDENTITY, COM_ROWID, WORKFLOW_ID, SR.INSTANCE_ID
INTO #SERVICE_REQUEST_TMP
FROM SERVICE_REQUEST SR
WHERE 1 = 1
AND SRQ_REQUEST_TYPE = 'OP'
AND ISNULL(SRQ_IDENTITY, '') <> ''
AND COM_ROWID = '89' -- OPC
AND EXISTS (SELECT 1 FROM SERVICE_REQUEST_FILE SRF WHERE SRF.SRQ_ROWID = SR.SRQ_ROWID AND SRF.SRF_TRANSLATION_IND = 'N')

SELECT TOP (@TOP) AI.AGD_ROWID, INSTANCE_ID, SR.WORKFLOW_ID, SP.SHP_DIST_DATE, SP.SHP_DATE, DOV_PIPELINE_NBR, A.COM_ROWID, DV.DOV_VERSION_ID,
A.AGD_DATE_TIME, DOV_PLANNED_DIST_DATE
FROM AGENDA_ITEM AI
JOIN AGENDA A ON A.AGD_ROWID = AI.AGD_ROWID
LEFT OUTER JOIN DOCUMENT_REFERENCE R ON R.REF_TABLE_ROWID = AI.AIT_ROWID
LEFT OUTER JOIN DOC_VERSION DV ON DV.DOV_ROWID = R.DOV_ROWID
JOIN #SERVICE_REQUEST_TMP SR ON SR.SRQ_IDENTITY = DV.DOV_PIPELINE_NBR
JOIN SHORT_PROCEDURE SP ON SP.DOV_ROWID = R.DOV_ROWID
WHERE R.REF_TABLE_CODE = 'AIT'
--AND SR.WORKFLOW_ID IS NOT NULL
AND A.COM_ROWID = SR.COM_ROWID
ORDER BY 1 DESC

IF OBJECT_ID('tempdb..#SERVICE_REQUEST_TMP') IS NOT NULL 
	DROP TABLE #SERVICE_REQUEST_TMP
